
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #88a4a4;
    color: #020408;
  }
  
  header {
    background-color: #2d105a;
    color: rgb(244, 236, 236);
    padding: 15px 20px;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
  }
  
  header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  header nav ul li a:hover {
    text-decoration: underline;
  }
  
  section {
    padding: 20px;
    max-width: 800px;
    margin:15px;
    background-color: rgb(220, 219, 220);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  section h2 {
    margin-top: 0;
  }
  
  .video-container {
    margin-top: 15px;
  }
  
  video {
    width: 100%;
    border-radius: 8px;
  }
  
  button {
    background-color: #1d9c27;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
  }
  